.product-container{
  display: flex;
  font-family: Orbitron,sans-serif;
  gap: 66px;
  padding: 20px 20px;  
  margin-top: 72px;
  flex-wrap: wrap;
}
.product-card{
  background-color: rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  
  min-width: 10px;
  max-width: 230px;
  border-radius: 10px;
  box-shadow: rgb(50, 50, 93) 0px 0px 20px 0px;
}

.product-image-container{
  margin-top: 12px;
}

.product-image{
  height: 140px;
  border-radius: 10px;
  max-width: 200px;
}

.product-features > *{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.product-features{
  display: flex;
  flex-direction: column;
}

.product-name{
  font-weight: 700;
  font-size: 28px;
  color: goldenrod;
  text-align: center;
}

.product-description{
  word-wrap: break-word;
  text-align: center;
}



.product-rating{
}

.product-price{
  font-size: 25px;
  color: green;
}

.stock{
  margin-bottom: 12px;
  color: rgba(50, 50, 93);
}

.buy-button{
  background-color: gold;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  margin-bottom: -11px;
  color: rgb(0, 156, 0);
  font-size: 25px;
  font-family: Orbitron, sans-serif;
}

.buy-button:hover{
  cursor: pointer;
  background-color: rgb(224, 190, 0);
  color: rgb(0, 195, 0);
}





.star-rating {
  font-size: 28px;
  color: #ffd700; 
}

